:host {
  display: block;
}

.container {
  background-color: orange;
  height: calc(100vh - 200px); 
  display: flex; 
} 
  
#nav { 
  flex: 1; 
} 
  
#main { 
  flex: 3; 
} 
  
/* Mobile */ 
@media (max-width: 600px) { 
  .container { 
    flex-direction: column; 
  } 
}
